<!-- Header-->
{% include 'header.html' %}

<!-- Page Header-->
        <header class="masthead" style="background-image: url('../static/assets/img/horizon.jpg')">
            <div class="container position-relative px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <div class="page-heading">
                            <h1>About Me</h1>
                            <span class="subheading">This is what I do.</span>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <!-- Main Content-->
        <main class="mb-4">
            <div class="container px-4 px-lg-5">
                <div class="row gx-4 gx-lg-5 justify-content-center">
                    <div class="col-md-10 col-lg-8 col-xl-7">
                        <p>Currently, I'm learning the principles about the programming world, I started to work using Python and JavaScript</p>
                        <p>I recently graduated from the Telecommunications Engineering career, But nowadays, I want to focus in the Programming</p>
                        <p>This website was designing to share some of my acknowledgement about Flask to build websites</p>
                    </div>
                </div>
            </div>
        </main>
        <!-- Footer-->
        {% include 'footer.html' %}
